[Unit]
Description=Toggle dark/light mode twice daily
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnCalendar=*-*-* 07,19:00:00
RandomizedDelaySec=5
Persistent=true
Unit=darkMode.service

[Install]
WantedBy=timers.target
